{% extends 'todo/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
    {% block content %}
    {{ todo.title }}
    {{ error }}

    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Save</button>
    </form>

    <form method="POST" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Complete</button>
    </form>

    <form method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    {% endblock content %}
</body>
</html>